html
  height: 100%
body
  min-height: 100%
  font-family: 'Open Sans', sans-serif
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  .main-wrapper
    flex: 1
  &.menu-opened
    // overflow: hidden
    // max-height: 100vh
    
%monserat
  font-family: 'Montserrat Alternates', serif